body {
    margin: 0;
    padding: 0;
}

.overlayDefault {
	position: absolute;	
	left: 0px;
	top: 0px;
	background-image: url("./images/SBDefault.png");
	width:1920px;
	height:1080px;
	opacity:0%;
}

.hide {
	top: -65px;
}

.animate {
	transition-property: top;
	transition-duration: 2s;
	opacity:100%;
}

.invisible {
	opacity: 0%;
	transition-duration: 0s;
}

.p1name {
	position: absolute;
	font-size: 26pt;
	color: white;
	left: 200px;
	top: -4px;
	width: 600px;
	text-align: right;
	height: 46px;
}

.p2name {
	position: absolute;
	font-size: 26pt;
	color: white;
	right: 200px;
	top: -4px;
	width: 600px;
	text-align: left;
	height: 46px;

}

.p1score {
	position: absolute;
	font-size: 32pt;
	font-weight: bold;
	color: white;
	left: 806px;
	top: -7px;
	width: 60px;
	text-align: center;

}

.p2score {
	position: absolute;
	font-size: 32pt;
	font-weight: bold;
	color: white;
	right: 810px;
	top: -7px;
	width: 60px;
	text-align: center;

}

.p1pro {
    position: absolute;
    font-size: 11pt;
    color: #d5d5d5;
    left: 695px;
    top: 34px;
    width: 100px;
    height: 20px;
    text-align: right;
    text-shadow:
		-1px -1px 0 #000,
		0   -1px 0 #000,
		1px -1px 0 #000,
		1px  0   0 #000,
		1px  1px 0 #000,
		0    1px 0 #000,
		-1px  1px 0 #000,
		-1px  0   0 #000;
    font-style: italic;
    font-style: italic;
}

.p2pro {
    position: absolute;
    font-size: 11pt;
    color: #d5d5d5;
    right: 695px;
    top: 34px;
    width: 100px;
    height: 20px;
    text-align: left;
    text-shadow:
		-1px -1px 0 #000,
		0   -1px 0 #000,
		1px -1px 0 #000,
		1px  0   0 #000,
		1px  1px 0 #000,
		0    1px 0 #000,
		-1px  1px 0 #000,
		-1px  0   0 #000;
    font-style: italic;
}

.title {
	position: absolute;
	font-size: 18pt;
	color: white;
	left: 880px;
	top: 0px;
	width: 155px;
	height: 50px;
	text-align: center;
	line-height: 18px;
}