.overlay-sf6 {
	position: absolute;	
	left: 0px;
	top: 0px;
	background-image: url("./images/SBSF6.png");
	width:1920px;
	height:1080px;
	transition-property: top;
	transition-duration: 2s;
}

.hide {
    top: -65px;
}